html, body{
  height: 100%;
  margin: 0;
}

.f{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.header{
  text-align: center;
  width: 100%;
  height: 8%;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
}

.center{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90%;
  width: 100%;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
}

.navigate{
  text-align: center;
  height: 100%;
  width: 15%;
  border: 0;
  border-right: 2px;
  border-style: solid;
}

.navigate-control{
  text-align: right;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
}

.navigate-label{
  text-align: center;
  height: 50px;
  width: 100%;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
}

.page{
  text-align: center;
  height: 100%;
  width: 85%;
}

.footer{
  text-align: center;
  height: auto;
  width: 100%;
}


@media(max-width:600px) {
  .center{
    flex-direction: column;
    overflow: scroll;
  }

  .navigate{
    text-align: center;
    height: auto;
    width: 100%;
  }

  .navigate-label{
    height: 100px;
  }

  .page{
    height: auto;
    width: 100%;
  }


}