<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
<head>
 <meta charset="UTF-8">
 <title>HOME</title>
 <script src="/script/angular.min.js"></script>
 <script src="/script/first.js"></script>
 <style>
    body {
        background-image: url(image/kana.jpg);
        background-repeat: no-repeat;
    }
 </style>
</head>
<body>
<!--超链接锚点-->
<a id="title">
    <h1>this is home page</h1>
</a>

<!--功能性超链接-->
<a href="mailto:yunruihuang@gmail.com">点击联系（邮件）</a>

<br>
<!--文字超链接-->
<a href="https://www.google.com" target="_blank">
    <p>跳转到谷歌</p>
</a>

<a href="/user" target="_blamk">
 <p>跳到user目录</p>
</a>


<div ng-controller="firstController">

    <div>
        <p>跳到数据接口: </p>
        <p>跳转时间: <input type="text" ng-model="inputHour"> <button ng-click="changeTime()">update</button></p>
        
        <!-- <p>{{links}}</p> -->
        <ol>
            <li><a href="/dataport/4{{inputHour | dataport}}" target="_blamk">
                跳到数据接口(机器4-当前时间)
            </a></li>
            <li><a href="/dataport/1" target="_blamk">
                跳到数据接口(机器1)
            </a></li>
            <li><a href="/dataport/2" target="_blamk">
                跳到数据接口(机器2)
            </a></li>
            <li><a href="/dataport/3" target="_blamk">
                跳到数据接口(机器3)
            </a></li>
            <li><a href="/dataport/4" target="_blamk">
                跳到数据接口(机器4)
            </a></li>
        </ol>
    </div>

    <input type="text" ng-model="value" ng-keyup="func();">
    <p>hello {{value}}, your lenght is {{num}}</p>
    <p>转为价格: {{func()}}</p>

    <input type="text" ng-model="value1" ng-keyup="addWord();">
    <p>filter : {{addWord()}}</p>

    <br>
    <button ng-click="clickFunc();">change image</button>
    <br>
    <img ng-src="/image/{{kanaImg}}" alt="kana" style="height: 1080px;width: 1920px;">
</div>

<!--图片超链接
<img src="/image/kana.jpg" alt="kana image" style="width:1280px;height:720px;">
-->
</body>
</html>
