<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>home page</title>
    <link rel="stylesheet" href="/CSS/background.css">
    <link rel="stylesheet" href="/CSS/homeStyle.css">
    <script src="/script/angular.min.js"></script>
    <script src="/script/home.js"></script>
</head>

<body>
    <!-- div for jump to top -->
    <div id="top"></div>

    <!-- the flex class, from background.css -->
    <div class="f">

        <!-- the left 'aside' class in background.css, navigate to each page -->
        <div class="left">
            <div class="title"> 
                <h2>Logo</h2>
            </div>
            <a href="/page/homepage.html">
                <div class="navigation">
                    <p>Home page</p>
                </div>
            </a> 
            <a href="/page/managepage.html">
                <div class="navigation">
                    <p>Manage page</p>
                </div>
            </a> 
            <a href="/page/datapage.html">
                <div class="navigation">
                    <p>Data page</p>
                </div>
            </a> 
            <a href="/page/serverpage.html">
                <div class="navigation">
                    <p>Server page</p>
                </div>
            </a> 
            <a href="/page/videopage.html">
                <div class="navigation">
                    <p>Video page</p>
                </div>
            </a> 
        </div>

        <!-- the right class in background.css, use to hold page infomation -->
        <div class="right" ng-controller='controllerRight as ctrl1'>
            <!-- page title/name -->
            <div class="title"> 
                <h2>Home page</h2>
            </div>

            <!-- page information -->
            <div class="part1">

                <div class="envir">
                    <p>home</p>
                    <h1>{{ctrl1.home.F}} F / {{ctrl1.home.C}} C</h1>
                    <p>humidity : {{ctrl1.home.H}}%</p>
                </div>

                <div class="envir">
                    <p>outside</p>
                    <h1>{{ctrl1.outside.F}} F / {{ctrl1.outside.C}} C</h1>
                    <p>humidity : {{ctrl1.outside.H}}%</p>
                </div>

            </div>

            <div class="part2">
                <div class="notifi-top">
                    <p>notification </p>
                </div>
                
                <div class="notification">
                    <p style="font-size: 50px;">none</p>
                </div>

            </div>


        </div>

    </div>

    <!-- footer tag, hold the link to my email, github, back to homepage and back to top -->
    <footer>
        <a href="mailto:yhuang35@albany.edu">| Email Me |</a>
        <a href="https://github.com/YunRuiHuang">| My Github |</a>
        <a href="/page/homepage.html">| Homepage |</a>
        <br>
        <a href="#top">back to top</a>

    </footer>

</body>


</html>