<!DOCTYPE html>
<html lang="en">
<head>
    <title>server page</title>
    <link rel="stylesheet" href="/CSS/background.css">
    <link rel="stylesheet" href="/CSS/serverStyle.css">
</head>

<body>
    <!-- div for jump to top -->
    <div id="top"></div>

    <!-- the flex class, from background.css -->
    <div class="f">

        <!-- the left 'aside' class in background.css, navigate to each page -->
        <div class="left">
            <div class="title"> 
                <h2>Logo</h2>
            </div>
            <a href="/page/homepage.html">
                <div class="navigation">
                    <p>Home page</p>
                </div>
            </a> 
            <a href="/page/managepage.html">
                <div class="navigation">
                    <p>Manage page</p>
                </div>
            </a> 
            <a href="/page/datapage.html">
                <div class="navigation">
                    <p>Data page</p>
                </div>
            </a> 
            <a href="/page/serverpage.html">
                <div class="navigation">
                    <p>Server page</p>
                </div>
            </a> 
            <a href="/page/videopage.html">
                <div class="navigation">
                    <p>Video page</p>
                </div>
            </a> 
        </div>

        <!-- the right class in background.css, use to hold page infomation -->
        <div class="right">
            <!-- page title/name -->
            <div class="title"> 
                <h2>Server page</h2>
            </div>

            <!-- page information -->
            <!-- table has the CPU and memory using status, notification should show any update from server -->
            <div class="table-name">
                <p>CPU :</p>
            </div>

            <div class="table">
                <table>
                    <tr>
                        <th> 12:00 </th>
                        <th> 12:30 </th>
                        <th> 13:00 </th>
                        <th> 13:30 </th>
                        <th> 14:00 </th>
                    </tr>
                    <tr>
                        <th>3 %</th>
                        <th>3 %</th>
                        <th>4 %</th>
                        <th>3 %</th>
                        <th>4 %</th>
                    </tr>

                </table>
            </div>


            <div class="table-name">
                <p>Memory :</p>
            </div>

            <div class="table">
                <table>
                    <tr>
                        <th> 12:00 </th>
                        <th> 12:30 </th>
                        <th> 13:00 </th>
                        <th> 13:30 </th>
                        <th> 14:00 </th>
                    </tr>
                    <tr>
                        <th>35 %</th>
                        <th>30 %</th>
                        <th>28 %</th>
                        <th>38 %</th>
                        <th>33 %</th>
                    </tr>

                </table>
            </div>

            <div class="table-name">
                <p>Notification : </p>
            </div>

            <div class="notify">
                <p style="font-size: 50px;">none</p>
            </div>




        </div>

    </div>

    <!-- footer tag, hold the link to my email, github, back to homepage and back to top -->
    <footer>
        <a href="mailto:yhuang35@albany.edu">| Email Me |</a>
        <a href="https://github.com/YunRuiHuang">| My Github |</a>
        <a href="/page/homepage.html">| Homepage |</a>
        <br>
        <a href="#top">back to top</a>


    </footer>
</body>


</html>